doctype html
html(lang="en", ng-app='BTC_dashboard')
head
	meta(charset="utf-8")
	meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
	title=title
	link(href='/stylesheets/uikit.min.css', rel='stylesheet')
	link(href='/stylesheets/style.css', rel='stylesheet')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js')    
	script(src='/javascripts/controllers.js') 
	script(src='/javascripts/spin.min.js')            
body
	nav.uk-navbar
		a.uk-navbar-brand(href="#")="BITCOIN"
		div.uk-navbar-content.uk-navbar-flip="spinner"
	div.container(ng-controller="BTCctrl")
		p {{text}}
		p CAD:	{{CAD}}
		p BRL:	{{BRL}}
		p Last Updated:	{{time}}